<h1><%= "Edit #{@team.name}" %></h1>

<%= form_with url: "/teams/#{@team.id}", method: :patch, local: true do |form| %>
<%= form.label :name %>
<%= form.text_field :name %> <br>
<%= form.label :city %>
<%= form.text_field :city %> <br>
<%= form.label :conference %> 
<%= form.radio_button :conference, 'east' %> east
<%= form.radio_button :conference, 'west' %> west <br>
<%= form.label :rank %>
<%= form.text_field :rank %> <br>
<%= form.label :has_won_championship %>
<%= form.radio_button :has_won_championship, 'true' %> true
<%= form.radio_button :has_won_championship, 'false' %> false <br>
<%= form.submit "Update Team" %>
<% end %>