<%= link_to 'New Team', '/teams/new' %>

<h1>Basketball Teams</h1>

<% @teams.each do |team| %>
  <h3><%= team.name %></h3>
  <p>City: <%= team.city %></p>
  <p>Conference: <%= team.conference %></p>
  <p>Current rank in confrence: <%= team.rank %></p>
  <p>Team has won a championship: <%= team.has_won_championship %></p>
  <p>Record created at: <%= team.created_at %></p>
<% end %>