<h1><%= @team.name %></h1>
<p>City: <%= @team.city %></p>
<p>Confrence: <%= @team.confrence %></p>
<p>Current rank in confrence: <%= @team.rank %></p>
<p>Team has won a championship: <%= @team.has_won_championship %></p>
