<h1><%= @player.name %></h1>
<p>Current Team: <%= @player.team.name %></p>
<p>Age: <%= @player.age %></p>
<p>Height in cm: <%= @player.height_in_cm %></p>
<p>Position: <%= @player.position %></p>
<p>First year playing in the league: <%= @player.is_a_rookie %></p>
